.quiz-container-with-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-btn {
    background: none;
    font-size: small;
    color: #172A3A;
    padding-top: calc(100vw * 0.015);
    padding-bottom: calc(100vw * 0.03);
    width: fit-content;
    cursor: pointer;
}

.next-btn:hover {
    text-decoration: underline;
    background: none;
    padding: none;
}
