.question-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: calc(100vh * 0.1);
}

.question-page img {
    min-width: 10vh;
    max-width: 30vh;
}

.question-page h1 {
    margin-top: calc(100vh * 0.05);
    font-size: 1.5rem;
}

.question-page button.selected {
    background-color: #c5702f;
    color: #ECF8FE;
}
  