.question-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: calc(100vh * 0.1);
}

.question-page img {
    max-width: 10vh;
}

.question-page h1 {
    margin-top: calc(100vh * 0.05);

}

.question-page button.selected {
    background-color: #508AB9;
    color: #ECF8FE;
}
  