.center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #172A3A;
}

.container {
  width: 100vw;
  height: calc(100vw * (19.5 / 9));
  max-height: 100vh;
  max-width: calc(100vh * (9 / 19.5));

  padding-left: calc(100vw * 0.05);
  padding-right: calc(100vw * 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: auto;

  background-color: #172A3A;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

img {
  max-height: 20vh;
}

h1 {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  color:azure;
  text-align: center;
  font-size: medium;
}

p {
  font-family: "Poppins", sans-serif;
  color:azure;
  text-align: center;
  font-size: x-small;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: azure;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: xx-small;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #A6E1FA;
  transition-duration: 30ms;
}